.contenedor-1{
     width: 70%;
    height: 10vh;
    background-color: grey;
    opacity: 0.5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.navegacion{
   
    display: flex;
    
    gap: 40vh;
}
.btn-mode{
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    width: 3%;
    height: 7vh;
    
}