*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
body{
  background-color: rgb(3,3, 37);
}
h1, h2, h3, h4, h5, h6 {
  color: white;
}
p{
  color: rbg(196, 196, 196);
}
.containerCards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  max-width: 1280px;
  margin: auto;
  margin-top: 2rem;
  gap: 15px;
}