.container {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: end;
    margin-top: -5%;
    justify-items: center;
    font-family:sans-serif ;
    font-size: 18px;
    margin-top: -18%;
}
.caja-sola{
    margin-top: 20px;
    height: 19vh;
    width: 88%;
}
.caja-sola-2{
    margin-bottom: 20px;
    height: 19vh;
    width: 88%;
}
.display{
    display: flex;
    gap: 20px;
    height: 23vh;
    width: 88%;
}
.caja-grande{
    height: 46vh;
    margin-right: 30px;
}
.texto-nuevo {
    margin-top: 10%;
}
.texto-1{
    margin-top: 15%;
    margin-left: 6%;
}
.texto-2{
   margin-top: 14%;
   margin-left: 6%; 
}
.texto-3{
   margin-top: 2.5%;
   margin-left: 3%; 
}
.texto-4{
   margin-top: 2.5%;
   margin-left: 3%; 
}
.texto-5{
    margin-top: 5%;
    margin-left: 6%;
}
.texto-6{
    margin-top: 10%;
    margin-left: 6%;
}
.imagen-1{
    width: 50%;
    margin-left: 35px;
    margin-top: 35px;
}
.imagen-2{
    width: 50%;
    margin-left: 35px;
    margin-top: 30px;
}
.imagen-3{
    width: 15%;
    margin-left: 42%;
    margin-top: 30px;
}
.imagen-4{
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
}
.imagen-5{
    width: 50%;
    margin-left: 33px;
    margin-top: 33px;
}
.imagen-6{
    width: 50%;
    margin-left: 33px;
    margin-top: 42px;
}
.collage-fotos{
    width: 50%;
    margin-left: 25%;
    margin-top: 42px;
}
.bg-verdeagua {
  background-color: #6AB0A2;
}
.bg-verde {
  background-color:#6AB08D;
}
.bg-rojo {
  background-color: #BA5848;
}
.bg-azul {
    background-color: #48A0C7;
}
.bg-rosado {
    background-color: #C8517A;
}
.bg-bronce {
    background-color: #CB7748;
}
.bg-naranja {
    background-color: #CF9341;
}