.Padre{
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
}
.titulo{
    font-family: sans-serif;
    margin-top: -6px;
    margin-left: 22%;
}
img{
    width: 5%;
}
.iconos{
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: flex-end;
    margin-right: 14%;
}